<div class="row mb-1 ">
  <div class="w-25">
    <img src="../../../assets/logo/logo.png" style="width: 100%; height: auto;">
  </div>
  <div class="col-4 border">
    <div >
      <h5 class="text-right text-danger">Luis Fernando Abelo Criales</h5>
      <h6 class="text-right ">cc 1.140.869.190</h6>

    </div>
    <p></p>
  </div>
  <div class="col-5 border ">
     Maestría / <strong>Civil Engineerring</strong>  <br>
     Politecnico Di Milano <br>
     Milano, Lombardia Italia<br>
     COLFUTURO / PCB / 2017
  </div>
</div>

<div class="row" style="background-color: #f5f5f5">
  <div class="col-3">

    <small class="text-muted">04 Sep 2018, <strong>Hora COT</strong> 09:21</small>
  </div>
  <div class="col-9">
      Mi estatus; POE - Periodo Ordinario de Estudios de <strong>del 01 sep 2017 al 31 jul 2019 / 23 meses</strong> 
  </div>
</div>


 