

<nav id="sidebar">
    <ul class="list-unstyled components">
        
            <h5>Acciones</h5>
            
            <ul class=" list-unstyled" id="homeSubmenu">
                <li class="nav-item active">
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Estatus</a>
                </li>
                <li>
                    <a href="#">Presupuestos y giros</a>
                </li>
                <li>
                    <a href="#">Cuntas bancarias</a>
                </li>
                <li>
                    <a href="#">Cartas de patrocinio</a>
                </li>
                <li>
                    <a href="#">Certificado deuda</a>
                </li>
                <li>
                    <a href="#">Interacciones</a>
                </li>
            </ul>
       
<h5>Mi información</h5>
       
            <ul class="list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Actualizaciòn de datos</a>
                </li>
                <li>
                    <a href="#">Proyecto apoyado</a>
                </li>
                <li>
                    <a href="#">Académica</a>
                </li>
                <li>
                    <a href="#">Permanencia</a>
                </li>
                <li>
                    <a href="#">Laboral</a>
                </li>
                <li>
                    <a href="#">Codeudores</a>
                </li>
                <li>
                    <a href="#">Documentos</a>
                </li>
            </ul>
      

    </ul>

</nav>




<!-- 
<nav id="sidebar">
        <div class="sidebar-header">
            <h3>BOOTSTRAP SIDEBAR</h3>
        </div>
        
        
        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">home1</a>
                    </li>
                    <li>
                        <a href="#">home2</a>
                    </li>
                    <li>
                        <a href="#">home3</a>
                    </li>
                </ul> 
            </li>
            
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Page</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">page1</a>
                    </li>
                    <li>
                        <a href="#">page2</a>
                    </li>
                    <li>
                        <a href="#">page3</a>
                    </li>
                </ul> 
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
        
        <ul class="list-unstyled CTAs">
            <li>
                <a href="#" class="download">Download code</a>
            </li>
            <li>
                <a href="#" class="article">article</a>
            </li>
        </ul>
    </nav>



 -->
